@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400i,400,600,700,700i&subset=cyrillic');

@font-face {
	font-family: pfbeausanspro-book;
	src: url('../fonts/pfbeausanspro-book.ttf');
}

@font-face {
	font-family: pfbeausanspro-bookitalic;
	src: url('../fonts/pfbeausanspro-bookitalic.ttf');
}

@font-face {
	font-family: pfbeausanspro-semibold;
	src: url('../fonts/pfbeausanspro-semibold.ttf');
}

@font-face {
	font-family: pfbeausanspro-semibolditalic;
	src: url('../fonts/pfbeausanspro-semibolditalic.ttf');
}

@font-face {
	font-family: pfdintextpro-lightitalic;
	src: url('../fonts/pfdintextpro-lightitalic.ttf');
}