/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.select-lang, .login {
		float: none;
		display: inline-block;
		margin: 5px;
	}

	.header-top-right {
		text-align: right;
	}

	.works-item {
		& > div::after {
			width: 220px;
		}
	}

	.reviews-slide-wrapper {
		padding: 0;
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 10px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.header-top-left {
		display: none;
	}

	.header-logo {
		//margin-top: 40px;
	}

	.header-top-right {
		text-align: center;
	}

	#describe {
		&::before {
			top: 0;
			left: 0;
			bottom: 50%;
			width: 100%;
		}
		&::after {
			top: 50%;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}

	.describe-right {
		margin-left: 0;
	}

	.describe-title + p {
		max-width: none;
	}

	.works-item {
		border: 2px dashed $red;
		margin: 10px 0;
		padding: 0 20px;
		min-height: 440px;
		& > div::after {
			width: 0;
		}
	}

	.capabilities-content {
		margin-top: 10px;
	}

	.media-item {
		min-height: 0;
		margin-top: 50px;
	}

	.media-item-body {
		h6 {
			margin-bottom: 20px;
		}
	}

	.works-btn, .works-tabs {
		margin-bottom: 40px;
	}

	.footer-social, .footer-copyright {
		text-align: center;
	}

	.footer-social {
		span {
			display: block;
			margin-top: 10px;
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-top-left {
		margin-top: 20px;
	}

	.header-logo {
		margin-top: 20px;
	}

	.header-top-right {
		margin-top: 20px;
	}

	.mobile-markets {
		margin-top: 20px;
		a {
			margin: 5px;
		}
	}

	.header-middle h4 {
		margin: 40px 0 10px;
	}

	.works-item {
		min-height: 0;
		padding-bottom: 30px;
	}

	.footer-bottom-left {
		text-align: center;
		margin-bottom: 10px;
	}

	.footer-bottom-right {
		text-align: center;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	html {
		font-size: 8px;
	}

	.describe-title {
		margin-bottom: 30px;
		img {
			float: none;
			margin-bottom: 20px;
		}
	}

	.describe-left, .describe-right {
		padding: 30px 0;
	}

	.works-item {
		& > div {
			margin-bottom: 90px;
		}
	}

	.media-item-body {
		padding-left: 10px;
	}

	.works-btn {
		margin-bottom: 20px;
		a {
			margin-bottom: 10px;
		}
	}

	.reviews-slide-header {
		img {
			float: none;
		}
	}

	.works-tabs {
		li {
			margin: 5px 0;
		}
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}