/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.select-lang, .login {
		float: none;
		display: inline-block;
		margin: 5px;
	}

	.header-top-right {
		text-align: right;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.header-top-left {
		text-align: center;
	}

	.header-logo {
		margin-top: 40px;
	}

	.header-top-right {
		text-align: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-top-left {
		margin-top: 20px;
	}

	.header-logo {
		margin-top: 20px;
	}

	.header-top-right {
		margin-top: 20px;
	}

	.mobile-markets {
		margin-top: 20px;
		a {
			margin: 5px;
		}
	}

	.header-middle h4 {
		margin: 40px 0 10px;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	html {
		font-size: 8px;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}