/* describe section */
#describe {
	position: relative;
	&::before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		background-image: url('../images/description-bg-left.jpg');
		z-index: -1;
	}
	&::after {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		bottom: 0;
		width: 50%;
		background-image: url('../images/description-bg-right.jpg');
		z-index: -1;
	}
}

.describe-title {
	margin-bottom: 60px;
	img {
		display: block;
		float: left;
		margin-right: 40px;
	}
	h3 {
		font-family: pfbeausanspro-semibolditalic;
		font-size: 3.6rem;
		margin: 0;
	}
	& + p {
		font-weight: 300;
		font-size: 1.8rem;
		max-width: 400px;
	}
}

.describe-left {
	padding: 60px 0;
}

.describe-right {
	padding: 60px 0;
	margin-left: 60px;
}
/* end describe section */

/* capabilities section */
#capabilities {
	padding: 40px 0 100px;
}

.capabilities-content {
	margin-top: 60px;
}

.media-item {
	margin-top: 30px;
	min-height: 160px;
}

.media-item-left {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	width: 125px;
}

.media-item-body {
	display: table-cell;
	vertical-align: top;
	padding-left: 30px;
	h6 {
		font-size: 1.8rem;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 40px;
	}
	p {
		font-size: 1.8rem;
		font-weight: 300;
	}
}
/* end capabilities section */

/* section how it works */
#works {
	background-image: url('../images/description-bg-left.jpg');
	padding: 40px 0 60px;
}

.works-tabs {
	li {
		a {
			width: 200px;
			margin: 0 5px;
			@include btn-rounded (transparent, #fff, inherit);
		}
	}
}

.works-tabs {
	border: none;
	text-align: center;
	margin-top: 30px;
	li {
		float: none;
		display: inline-block;
	}
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: $red;
	color: #fff;
	border: 2px solid transparent;
	outline: none;
}

.works-btn {
	text-align: center;
	margin-top: 30px;
	a {
		width: 200px;
		margin: 0 5px;
		&:first-child {
			@include btn-rounded ($red, transparent, #fff);
		}
		&:last-child {
			@include btn-rounded (transparent, #fff, inherit);
		}
	}
}

.works-item {
	text-align: center;
	& > div {
		min-height: 175px;
		margin-bottom: 115px;
		position: relative;
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		&::before {
			position: absolute;
			left: calc(50% - 23px);
			bottom: -66px;
			height: 46px;
			width: 46px;
			border-radius: 50%;
			background-color: $red;
			text-align: center;
			z-index: 10;
			line-height: 46px;
			color: #fff;
			font-size: 18px;
		}
		&::after {
			position: absolute;
			content: '';
			left: 50%;
			bottom: -43px;
			width: 270px;
		}
	}
	h5 {
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 15px;
	}
	article {
		font-weight: 300;
		font-size: 1.6rem;
	}
}

@for $i from 1 through 4 {
	.works-item-#{$i}::before {
		content: '#{$i}';
	}
}

@for $i from 1 through 3 {
	.works-item-#{$i}::after {
		border-top: 2px dashed $red;
	}
}
/* end section how it works */

/* section try */
#try {
	background-image: url('../images/try-bg.jpg');
	padding: 90px 0;
	text-align: center;
	h3 {
		color: #fff;
		font-size: 3.6rem;
		font-family: pfbeausanspro-book;
		margin-bottom: 50px;
		margin-top: 0;
	}
	a {
		@include btn-sq ($red, #fff);
		width: 280px;
		font-size: 1.6rem;
	}
}
/* end section try */

/* section reviews */
#reviews {
	padding: 20px 0 60px;
}

.reviews-slider {
	margin-top: 40px;
}

.reviews-slide-wrapper {
	padding: 0 10px;
}

.reviews-slide {
	background-color: #eaf0f2;
	padding: 60px;
	& > h4 {
		font-weight: 700;
		font-style: italic;
		font-size: 2.4rem;
		color: $cyan;
		margin: 30px 0;
	}
	& > article {
		font-weight: 400;
		font-style: italic;
		font-size: 1.6rem;
	}
}

.reviews-slide-header {
	img {
		float: left;
		display: block;
		margin-right: 20px;
	}
	& > div {
		h6 {
			font-size: 1.8rem;
			font-weight: 600;
		}
		p {
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
}

.slick-prev {
	padding: 0;
	position: absolute;
	top: calc(50% - 23px);
	left: -50px;
	z-index: 10;
	background-color: transparent;
	border: none;
	&:hover {
		opacity: .8;
	}
}

.slick-next {
	padding: 0;
	position: absolute;
	top: calc(50% - 23px);
	right: -50px;
	z-index: 10;
	background-color: transparent;
	border: none;
	&:hover {
		opacity: .8;
	}
}
/* end section reviews */